<div class="portal main-center">
	<div class="text-box text-esc">
		<div class="text-block float-left">
			<h2><%=T("PORTAL_TITLE1")%></h2>
			<p><%=T("PORTAL_P1")%></p>
			<a href="/products.html#ecs"><%=T("SEEDETIAL")%> ></a>
		</div>
	</div>

	<div class="text-box text-evs">
		<div class="text-block float-right">
			<h2><%=T("PORTAL_TITLE2")%></h2>
			<p><%=T("PORTAL_P2")%></p>
			<a href="/products.html#evs"><%=T("SEEDETIAL")%> ></a>
		</div>
	</div>

	<div class="text-box text-slb">
		<div class="text-block float-left">
			<h2><%=T("PORTAL_TITLE3")%></h2>
			<p><%=T("PORTAL_P3")%></p>
			<a href="/products.html#ecs"><%=T("SEEDETIAL")%> ></a>
		</div>
	</div>
</div>