<div class="main-center">
	<a class="h-logo" href="/portal.html"><img src="<%= data.imgPath %>/logo_BOEcloud.png"></a>
	<ul class="h-nav">
		<li class="h-nav-li">
			<a class="header-title">产品与服务</a>
			<div class="head-hover-box">
				<div class="main-center">
					<ul class="box-ul1">
						<li class="box-li1"><font class="li-title active">云主机服务</font> <span class="li-icon">></span>
							<ul class="box-ul1 box-ul2 nav-hover">
								<li class="box-li1"><a href="/products.html#ecs" class="li-title active">云主机</a> <span class="li-icon">></span>
									<ul class="box-ul3 nav-hover">
										<li class="box-li2">
											<a href="/cloud-host-service/cloud-host-order">
												<img src="<%= data.imgPath %>/icon_windows_click.png" class="box-icon1">
												<h3>windows服务器</h3>
												<p>稳定、安全的Windows服务器，包括Windows 2008、Windows 2012等</p>
											</a>
										</li>
										<li class="box-li2">
											<a href="/cloud-host-service/cloud-host-order">
												<img src="<%= data.imgPath %>/icon_centos_click.png" class="box-icon1">
												<h3>CentOS服务器</h3>
												<p>CentOS服务器首选京东云，高性能、高稳定、机型丰富、免费维护</p>
											</a>
										</li>
										<li class="box-li2">
											<a href="/cloud-host-service/cloud-host-order">
												<img src="<%= data.imgPath %>/icon_redhat_click.png" class="box-icon1">
												<h3>RedHat服务器</h3>
												<p>高性能RedHat服务器，让业务响应0延迟</p>
											</a>
										</li>
									</ul>
								</li>
								<li class="box-li1"><a href="/products.html#evs" class="li-title">云硬盘</a> <span class="li-icon">></span>
									<ul class="box-ul3">
										<li class="box-li2">
											<a href="/cloud-host-service/cloud-drive-order">
												<img src="<%= data.imgPath %>/icon_disk_click.png" class="box-icon1">
												<h3>云硬盘（EVS）</h3>
												<p>云硬盘是一种基于分布式架构的，可弹性扩展的虚拟块存储服务。</p>
											</a>
										</li>
									</ul>
								</li>
								<li class="box-li1"><font class="li-title">数据库服务器</font> <span class="li-icon">></span></li>
								<li class="box-li1"><font class="li-title">中间件服务器</font> <span class="li-icon">></span></li>
								<li class="box-li1"><font class="li-title">网络</font> <span class="li-icon">></span></li>
							</ul>
						</li>
						<li class="box-li1"><font class="li-title">大数据服务</font> <span class="li-icon">></span></li>
						<li class="box-li1"><font class="li-title">ESB服务</font> <span class="li-icon">></span></li>
					</ul>
				</div>
			</div>
		</li>
		<li class="h-nav-li"><span>解决方案</span>
			<!-- <div class="head-hover-box"></div> -->
		</li>
		<li class="h-nav-li"><span>大数据</span></li>
		<li class="h-nav-li"><span>更多</span></li>
	</ul>
	<div class="h-right float-right">
		<!-- <span class="h-search mgr20">
			<input type="submit" value="" class="h-search-button" name="searchButton">
			<input type="text" class="h-search-input" name="searchInput">
		</span> -->
		<span class="h-login-box mgr20">
			<a href="/login.html">登录</a>
			<!-- <span class="dp-ib"> | </span> -->
			<!-- <a href="javscript:">注册</a> -->
		</span>
		<a class="h-console dp-ib" href="/mng-console">控制台</a>
	</div>
</div>
